@{
    ViewBag.Title = "";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <script type="text/javascript">
        //折叠展开面板
        function hideShowFrame() {
            if (document.getElementById("middenFram").cols == "193,*") {
                document.getElementById("middenFram").cols = "0,*";
            }
            else {
                document.getElementById("middenFram").cols = "193,*"
            }
        }
    </script>
</head>
<frameset rows="104,*,30" cols="*" frameborder="no" border="0" framespacing="0">
    @*顶部发104px，底部30px，中间部分自适应*@
    <frame src="Home/Top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
    <frameset cols="193,*" frameborder="no" border="0" framespacing="0" id="middenFram">
        @*左侧193px，右侧自适应*@
        <frame src="Home/Left" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
        <frame src="Home/Right" name="mainFrame" id="mainFrame" title="mainFrame" />
    </frameset>
    <frame src="/Content/Bootom.html" name="topFrame" scrolling="No" noresize="noresize" id="bootomFrame" title="topFrame" />
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>